{{ define "main" }}

{{ partial "header.html" . }}

{{ partial "navigation.html" . }}

{{ $data := index .Site.Data .Site.Language.Lang }}
<section class="section post-single-section">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <h1 class="post-single-title">{{ .Title }}</h1>
                {{ with $data.bio }}
                <div class="row">
                    <div class="col-md-12">
                        <div class="member-photo">
                            {{"<!-- member photo -->" | safeHTML}}
                            <img class="img-responsive" style="width: 100%" src="{{ .liveImage | absURL }}" alt="Meghna" style="float: left">
                        </div>
                        <div class="post-single-content">
                            <p>{{ delimit (split .longDescription "\n") "<br>"}}</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="post-single-content">
                            <h3 class="post-single-title"> {{ .activitiesTitle }}</h3>
                            {{ range .achievements}}
                                {{ if .emphasis }}
                                <p style="color:#48b4d1"> {{ .content }}</p>
                                {{ else }}
                                <p> {{ .content }}</p>
                                {{ end }}
                            {{ end }}
                        </div>
                        <div class="iframe-wrapper">
                            <iframe width="100%" src="{{ .achievementYoutube }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="post-single-content">
                            <h3 class="post-single-title"> {{ .profileTitle }}</h3>
                            <p> {{ .name }}</p>
                            {{ range .profile }}
                                <p>{{ . }}</p>
                            {{ end }}
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="member-photo">
                            {{"<!-- member photo -->" | safeHTML}}
                            <img class="img-responsive" style="width: 100%" src="{{ .bgImage | absURL }}" alt="Meghna" style="float: left">
                        </div>
                    </div>

                    </div>
                </div>
                {{ end }}
            </div>
        </div>
    </div>
</section>

{{ end }}
