{{ if .Site.Data.bio.enable}}
{{"<!-- Start Bio -->" | safeHTML}}
<section id="bio" class="section">
    <!--<section id="testimonial" class="testimonial overly section bg-2" style='background-image: url("{{ .Site.Data.testimonial.bgImage | absURL }}")'>-->
    <div class="container">
        <div class="row">
            {{"<!-- section title -->" | safeHTML}}
            <div class="title text-center wow fadeInUp" data-wow-duration="500ms">
                <h2>{{ with .Site.Data.bio.heading }} {{ . }} {{ end }} <span class="color">{{ with .Site.Data.bio.headingSpan }} {{ . }} {{ end }}</span></h2>
                <div class="border"></div>
            </div>
            {{"<!-- /section title -->" | safeHTML}}
            {{"<!-- bio -->" | safeHTML}}
            <div class="col-md-12 wow fadeInDown" data-wow-duration="500ms">

                {{ with .Site.Data.bio }}
                <div class="team-member">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="member-photo">
                                {{"<!-- member photo -->" | safeHTML}}
                                <img class="img-responsive" src="{{ .image | absURL }}" alt="Meghna" style="float: left">
                            </div>
                        </div>
                        <div class="col-md-8">

                            {{"<!-- member name & designation -->" | safeHTML}}
                            <div class="member-meta">
                                <h4>{{ .name }}</h4>
                                <span>{{ .designation }}</span>
                                <p>{{ .playStyle }}</p>
                                <p>{{ delimit (split .description "\n") "<br>"}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8 col-md-push-4">
                            <div class="member-meta">
                                <h4>主な実績</h4>
                                {{ range .achievements}}
                                    {{ if .emphasis }}
                                    <p style="color:#48b4d1"> {{ .content }}</p>
                                    {{ else }}
                                    <p> {{ .content }}</p>
                                    {{ end }}
                                {{ end }}
                            </div>
                        </div>
                        <div class="col-md-4 col-md-pull-8">
                            <div class="iframe-wrapper">
                                <iframe width="100%" src="{{ .achievementYoutube }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>

                    <div class="row justify-content-end">
                        <div class="col-md-8 col-md-push-4">
                            <div class="member-meta">
                                <h4>プロフィール</h4>
                                <p>{{ delimit (split .profile "\n") "<br>"}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                {{ end }}
            </div>
            {{"<!-- bio -->" | safeHTML}}
        </div>
    </div>
</section>
{{"<!-- /bio -->" | safeHTML}}
{{ end }}