{{ $data := index .Site.Data .Site.Language.Lang }}
{{ if $data.bio.enable}}
{{"<!-- Start Bio -->" | safeHTML}}
<section id="bio" class="section">
    <!--<section id="testimonial" class="testimonial overly section bg-2" style='background-image: url("{{ $data.testimonial.bgImage | absURL }}")'>-->
    <div class="container">
        <div class="row">
            {{"<!-- section title -->" | safeHTML}}
            <div class="title text-center wow fadeInUp" data-wow-duration="500ms">
                <h2>{{ with $data.bio.heading }} {{ . }} {{ end }} <span class="color">{{ with $data.bio.headingSpan }} {{ . }} {{ end }}</span></h2>
                <div class="border"></div>
            </div>
            {{"<!-- /section title -->" | safeHTML}}
            {{"<!-- bio -->" | safeHTML}}
            <div class="col-md-12 wow fadeInDown" data-wow-duration="500ms">

                {{ with $data.bio }}
                <div class="team-member">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <div class="member-photo">
                                {{"<!-- member photo -->" | safeHTML}}
                                <img class="img-responsive" src="{{ .image | absURL }}" alt="Meghna" style="float: left">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            {{"<!-- member name & designation -->" | safeHTML}}
                            <div class="member-meta">
                                <h4>{{ .name }}</h4>
                                <h5>{{ .designation }}</h5>
                                <!--<p class="pc-only">{{ .playStyle }}</p>-->
                                <p class="pc-only">{{ delimit (split .longDescription "\n") "<br>"}}</p>
                                <p class="sp-only"><br>{{ delimit (split .shortDescription "\n") "<br>"}}</p>
                                <div class="sp-only text-center member-meta">
                                    <a class="btn-main" href="{{ .Site.BaseURL}}pages/biography">{{ .btnContent }}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pc-only">
                    <div class="row">
                        <div class="col-md-7">
                            <div class="team-member">
                                <div class="member-meta">
                                    <h4>{{.activitiesTitle}}</h4>
                                    {{ range .achievements }}
                                        {{ if .emphasis }}
                                        <p style="color:#48b4d1"> {{ .content }}</p>
                                        {{ else }}
                                        <p> {{ .content }}</p>
                                        {{ end }}
                                    {{ end }}
                                </div>
                                <div class="iframe-wrapper">
                                    <iframe width="100%" src="{{ .achievementYoutube }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="team-member">
                                <div class="member-meta">
                                    <h4>{{.profileTitle}}</h4>
                                    {{ range .profile }}
                                    <p>{{ . }}</p>
                                    {{ end }}
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                {{ end }}
            </div>
            {{"<!-- bio -->" | safeHTML}}
        </div>
    </div>
</section>
{{"<!-- /bio -->" | safeHTML}}
{{ end }}
