{{ $data := index .Site.Data .Site.Language.Lang }}
{{ with $data.cd }}
{{"<!-- Start Call To Action -->" | safeHTML}}
<section id="music" class="pc-only call-to-action section-sm bg-1 overly" style='background-image: url("{{ .bgImage | absURL }}")'>
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2 style="color: #fff">{{ .title }}</h2>
                <h3 style="color: #fff">{{ .description1 }}</h3>
                <h3 style="color: #fff">{{ .description2  }}</h3>
                <h3 style="color: #fff">{{ .date }}</h3>
                <img width="100%" style="max-width: 360px;" src="{{ .cdImage | absURL }}">
                <div>
                    <a href="{{ .btnURL }}" class="btn btn-main" target="_blank">{{ .btnText}}</a>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="music" class="sp-only call-to-action section-sm bg-1 overly" style="background: #242930">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2 style="color: #fff">{{ .title }}</h2>
                <h3 style="color: #fff">{{ .description1 }}</h3>
                <h3 style="color: #fff">{{ .description2  }}</h3>
                <h3 style="color: #fff">{{ .date }}</h3>
                <img width="100%" style="max-width: 360px;" src="{{ .cdImage | absURL}}">
                <div>
                    <a href="{{ .btnURL }}" class="btn btn-main" target="_blank">{{ .btnText}}</a>
                </div>
            </div>
        </div>
    </div>
</section>
{{"<!-- Start Services Section -->" | safeHTML}}
{{ end }}
